<h2>Lista de Usuarios</h2>

<!-- Filtro de búsqueda -->
<mat-form-field>
    <mat-label>Buscar Usuarios</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por nombre o email" #input>
</mat-form-field>

<!-- Tabla de usuarios con Angular Material -->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-id" > ID </th>
            <td mat-cell *matCellDef="let user" class="col-id" > {{user.id}} </td>
        </ng-container>

        <!-- Nombre  -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let user"> {{user.nombre}} </td>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-email"> Email </th>
            <td mat-cell *matCellDef="let user" class="col-email" > {{user.email}} </td>
        </ng-container>

        <!-- Teléfono -->
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-telefono"> Teléfono </th>
            <td mat-cell *matCellDef="let user" class="col-telefono"> {{user.telefono}} </td>
        </ng-container>

        <!-- Rol -->
        <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-rol"> Rol </th>
            <td mat-cell *matCellDef="let user" class="col-rol"> {{user.rol}} </td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let user">
                <button class="Boton accion" [routerLink]="['/desktop/usuarios', user.id]">Detalles</button>
                <button class="Boton accion" (click)="actualizarUnUsuario(user.id)">Actualizar</button>
                <button class="Boton accion" (click)="confirmarEliminacion(user.id)">Eliminar</button>
            </td>
        </ng-container>

        <!-- Confirmación de eliminación -->
        <ng-container *ngIf="usuarioAEliminar !== null">
            <div class="confirmacion-eliminacion">
                <p>¿Estás seguro de que deseas eliminar este usuario?</p>
                <button mat-button color="warn" (click)="eliminarUsuario()">Sí, eliminar</button>
                <button mat-button (click)="cancelarEliminacion()">Cancelar</button>
            </div>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>

        <!-- Mensaje -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5" class="mensaje">
                <span>{{ dataSource.data.length === 0 && !input.value ? 'Aún no
                    hay usuarios registrados' : 'No hay usuarios que coincidan con "' + input.value + '"' }}</span>
            </td>
        </tr>
    </table>

    <!-- Paginador -->
    <mat-paginator [pageSizeOptions]="[2, 5, 10, 25, 50, 100]" [pageSize]="10"
        aria-label="Seleccionar cantidad de usuarios"></mat-paginator>

    <!-- Filtro -->
    <mat-button-toggle-group class="botones-superiores">
        <mat-button-toggle [disabled]="ordenAlfabActivado" (click)="ordenarAlfabeticamente()" class="filtro">Ordenar
            Alfabéticamente</mat-button-toggle>
        <mat-button-toggle *ngIf="ordenAlfabActivado" (click)="resetearOrden()" class="filtro">Quitar
            Filtro</mat-button-toggle>
    </mat-button-toggle-group>

</div>

<!-- Confirmación de eliminación -->
<ng-container *ngIf="usuarioAEliminar !== null">
    <div class="confirmacion-eliminacion">
        <p>¿Estás seguro de que deseas eliminar este usuario?</p>
        <button mat-button (click)="eliminarUsuario()">Sí, eliminar</button>
        <button mat-button (click)="cancelarEliminacion()">Cancelar</button>
    </div>
</ng-container>

<!-- Botones inferiores -->
<div class="botones-inferiores">
    <button class="Boton" (click)="volverAlInicio()">Volver</button>
    <button class="Boton" (click)="crearUnUsuario()">Crear Usuario</button>
</div>