<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h4>Información</h4>
      <ul>
        <li><a href="/acerca-de-nosotros">Acerca de Nosotros</a></li>
        <li><a href="/terminos-y-condiciones">Términos y Condiciones</a></li>
        <li><a href="/politica-privacidad">Política de Privacidad</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Contacto</h4>
      <ul>
        <li><a href="tel:+123456789">+34 625 11 72 19</a></li>
        <li><a href="mailto:rehobot.coches@gmail.com?subject=Consulta" target="_blank">rehobot.coches&#64;gmail.com</a></li>
        <li><a href="https://maps.app.goo.gl/Gtos288UQspFCk1q7" target="_blank">Ubicación</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Redes Sociales</h4>
      <ul>
        <li><a href="https://www.instagram.com/rehobotlavacoche?igsh=dHN2NjJ5OW0wd3Q0" target="_blank">Instagram</a>
        </li>
        <li><a href="https://www.facebook.com/profile.php?id=61573413899520" target="_blank">facebook</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyright">&copy; 2025 Rehobot. Todos los derechos reservados.</div>
<button id="totop" class="totop" [ngClass]="{ 'show': showButton }" (click)="scrollToTop()">↑</button>


