<h2>Lista de Pagos</h2>

<!-- Filtro de búsqueda -->
<mat-form-field>
    <mat-label>Buscar Pagos</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por método de pago o monto" #input>
</mat-form-field>

<!-- Tabla de pagos -->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="idCita">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CITA </th>
            <td mat-cell *matCellDef="let pago"> {{ pago.idCita }} </td>
        </ng-container>

        <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto (€) </th>
            <td mat-cell *matCellDef="let pago"> {{ pago.monto }} </td>
        </ng-container>

        <ng-container matColumnDef="metodoPago">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Método de Pago </th>
            <td mat-cell *matCellDef="let pago"> {{ pago.metodoPago | formatEnum }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let pago; columns: displayedColumns;"></tr>

        <!-- Mensaje -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5" class="mensaje">
                <span>{{ dataSource.data.length === 0 && !input.value ? 'Aún no
                    hay pagos registrados' : 'No hay pagos que coincidan con "' + input.value + '"' }}</span>
            </td>
        </tr>
    </table>

    <!-- Paginador -->
    <mat-paginator [pageSizeOptions]="[2, 5, 10, 25, 50, 100]" [pageSize]="10"
        aria-label="Seleccionar cantidad de pagos"></mat-paginator>
</div>

<!-- Botones inferiores -->
<div class="botones-inferiores">
    <button class="Boton" (click)="volverAlInicio()">Volver</button>
</div>