<div class="form-container">
    <h2>Actualizar Valoración</h2>
    <p>Si deseas actualizar algún campo, cambia su valor. De lo contrario, deja los campos como están y envía el
        formulario.</p>

    <form #form="ngForm" (ngSubmit)="actualizarServiCita(form)">
        <!-- Mostrar mensaje de error global -->
        <div *ngIf="mensajeErrorGeneral" class="error-global">
            <p>{{ mensajeErrorGeneral }}</p>
        </div>

        <!-- ID (solo lectura) -->
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id" [(ngModel)]="serviCita.id" name="id" readonly />
        </div>

        <div class="form-group">
            <label for="idCita">ID de la Cita</label>
            <input type="number" id="idCita" [(ngModel)]="serviCita.idCita" name="idCita" required />
        </div>

        <div class="form-group">
            <label for="comentario">Comentario</label>
            <input type="text" id="comentario" [(ngModel)]="serviCita.comentario" name="comentario" required />
        </div>

        <div class="form-group">
            <label for="valoracion">Valoración</label>
            <select id="valoracion" [(ngModel)]="serviCita.valoracion" name="valoracion" required>
                <option *ngFor="let v of valoresPermitidos" [value]="v">{{ v }}</option>
            </select>
        </div>

        <div class="botones-contenedor">
            <button (click)="volver()" type="button" class="Boton">Volver</button>
            <button type="submit" class="Boton" [disabled]="form.invalid">Actualizar Valoración</button>
        </div>
    </form>
</div>