<div class="botones">
  <button (click)="usuarios()" class="Boton">
    <i data-lucide="users"></i>
    <span>Administrar Usuarios</span>
  </button>
  <button (click)="vehiculos()" class="Boton">
    <i data-lucide="car"></i>
    <span>Administrar Vehículos</span>
  </button>
  <button (click)="citas()" class="Boton">
    <i data-lucide="calendar-check"></i>
    <span>Administrar Citas</span>
  </button>
  <button (click)="servicios()" class="Boton">
    <i data-lucide="briefcase"></i>
    <span>Administrar Servicios</span>
  </button>
  <button (click)="pagos()" class="Boton">
    <i data-lucide="credit-card"></i>
    <span>Administrar Pagos</span>
  </button>
  <button (click)="servicitas()" class="Boton">
    <i data-lucide="star"></i>
    <span>Administrar Valoración</span>
  </button>
</div>
